.car-list {
	padding-top: 30px;
	padding-left: 34px;
    padding-right: 34px;
	background:rgba(0,0,0,0.2);
	max-width: 1440px;
	margin: 0 auto;
	margin-top: 69px;
	
	& .custom-icon {
		color: #FFFFFF;
	}

	& .name-user {
		text-align: right;
		color: white;
		padding-bottom: 3px;
	}

}

.cont-image-product {
 	width: 100%;
 	height: 145px;
  	position: relative;
}

.image-product {
	width: 100%;
	height: 145px;
	position: absolute;
}

.price-product{
	font-weight: bold;
	color: #164800;
}

.thumbnail-click{
	cursor: pointer;
}

.title-product{
	text-transform: capitalize;
}


.align-coverage-car{
	text-align: left;
}

.align-indicator-car{
	text-align: right;
}

.infocar{
	padding-bottom: 15px;
}

.sepcolor{
	color: transparent;
}