.indicator-modal{
    padding: 15px;

	& .custom-general-data-order {
		background-color: #C3D6E6;
		padding: 7px;
		padding-top: 15px;
	}
}

.title-indicator{
	text-transform: capitalize;
}

.amount-input{
	max-width:100px; 
	margin: 0 auto;
}

textarea {
	color: #000000;
}

.align-total {
	text-align: left;
}



