html, body {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-family: 'Raleway', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

a {
    cursor: pointer;
}

#app {
	background: transparent;
}

.cont-login {
	text-align: center;
}

.hidden {
	display: none;
}

.logo_elixir {
	background:url("./resources/images/logo.png");
}

.background {
	background:url("./resources/images/car_background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.car-header{
	background:rgba(0,0,0,0.3);
}

.custom-spinner {
  padding-top: 80px;
}

.custom-add-btn {
  padding: 6px;
  background-color: #ffffff;
  color: #000000; 
}

.custom-icon-cross {
  background: #db3737;
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4), inset 0 -1px 0 rgba(16, 22, 26, 0.2);
  color: #ffffff;
}