.product-modal{
	padding: 15px;
	
	& .pattern-custom-close {
		text-align: right;
	}

	& .custom-close-header-product {
		font-size: 18px;
	}

}

.title-product{
	text-transform: capitalize;
}

.amount-input{
	max-width:100px; 
	margin: 0 auto;
}

textarea {
	color: #000000;
}
