.admin-orders {

    background: #DFDFDF;

	& .custom-table-responsive {
		padding-bottom: 170px;
	}

	& .scroll-vertical {
		overflow-y:scroll; 
		overflow-x:hidden; 
		height:400px;
	}


	& .total-admin-car {
		text-align: right;
		padding: 5px;
	}

	& .custom-delivery-type-list-domi {
		color: green;
		font-weight: bold;
	}

	& .custom-delivery-type-list {
		color: blue;
		font-weight: bold;
	}

	& .custom-actions-th {
		text-align: center;
		background-color: #ffffff;
	}

	& .custom-actions {
		text-align: center;
	}

	& .custom-label-value {
		color: #1B6C00;
		font-weight: bold;
	}

	& .custom-btn-add-more-orders {
		color: #106ba3;
		font-weight: bold;
	}

}

