.admin-orders {

    background: #DFDFDF;

	& .custom-table-responsive {
		padding-bottom: 170px;
	}

	& .scroll-vertical {
		overflow-y:scroll; 
		overflow-x:hidden; 
		height:400px;
	}


	& .total-admin-car{
		text-align: right;
		padding: 5px;
	}

}

